[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
tower-lsp = { workspace = true }
tokio = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
async-trait = { workspace = true }
agent = { workspace = true }
traits = { workspace = true }
